<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>
<%#= link_to "New post", new_post_path %>

<div class="absolute inset-0 -z-10 overflow-hidden">
  <svg class="absolute top-0 left-[max(50%,25rem)] h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]" aria-hidden="true">
    <defs>
      <pattern id="e813992c-7d03-4cc4-a2bd-151760b470a0" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
        <path d="M100 200V.5M.5 .5H200" fill="none" />
      </pattern>
    </defs>
    <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
      <path d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z" stroke-width="0" />
    </svg>
    <rect width="100%" height="100%" stroke-width="0" fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)" />
  </svg>
</div>

<h1 class="text-center text-base/7 font-semibold text-indigo-600">
  <%= link_to "The Last Blog", root_path %>
</h1>

<h2 class="mx-auto mt-2 max-w-lg text-center text-4xl font-semibold tracking-tight text-balance text-gray-950 sm:text-5xl">Everything you need can be found here</h2>

<div class="mt-10 grid gap-4 sm:mt-16 lg:grid-cols-3 lg:grid-rows-2">
  <% @posts.each do |post| %>
    <div class="relative max-lg:row-start-1">
      <div class="absolute inset-px rounded-lg bg-indigo-100 max-lg:rounded-lg shadow-sm"></div>
      <div class="relative flex h-full flex-col overflow-hidden rounded-lg border border-indigo-300 pb-8 sm:pb-10">
        <div class="px-8 pt-8 sm:px-10 sm:pt-10">
          <h3 class="mt-2 text-lg font-medium tracking-tight text-indigo-500 max-lg:text-center">
            <%= link_to post.title, post %>
          </h3>
          <p class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center">
            <%#= post.description %>Lorem ipsum odor amet, consectetuer adipiscing elit.
        </div>  
        <%# <div class="flex flex-1 items-center justify-center px-8 max-lg:pt-10 max-lg:pb-12 sm:px-10 lg:pb-2">
          <img class="w-full max-lg:max-w-xs" src="https://tailwindui.com/plus-assets/img/component-images/bento-03-performance.png" alt="">
        </div> %>
      </div>  
    </div>
  <% end %>
</div>
